.previous .page-link,
.next .page-link {
    width: auto;
    height: 36px;
    border-radius: 20px !important;
    padding: 0 1rem;
}

.dataTables_wrapper > div:last-child {
    padding: 10px 0 20px 0;
}

.sorting_desc:after,
.sorting_desc:before,
.sorting_asc:after,
.sorting_asc:before,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after {
    font-size: 14px;
}

.table .thead-light th {
    color: #000810;
    background-color: #f6f9fc;
}

.dropdown-item:focus,.dropdown-item:active{
    outline: none !important;
    box-shadow: none;
}

img.navbar-brand-img {
    max-height: 3.4rem !important;
}

.add > i {
    top: 5px;
    position: relative;
    font-size: 21px;
    line-height: 11px;
}

.code {
    background: #f6f9fc;
    border: 1px solid #d9dfff;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    height: 27px;
}

.code:focus {
    border: 1px solid #768afc;
    outline: none;
}

.code:hover {
    background: #e6f2ff;
}